*{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

body{
    background-color: #1b1010;
}

a{
    text-decoration: none;
}

a:hover{
    color: pink;
}
a:active{
    color: #1b1010;
}

object{
    width: 100%;
}

.fadeinout{
    opacity: 0;
    transition: opacity 1s;
}

.text{
    font-weight: bold;
    margin: 2vw;
    font-size: 4vw;
}

.fuzzyc{
    animation: fuzzyc 10s linear;
    animation-iteration-count: infinite;
}
.fuzzyc2{
    animation: fuzzyc 10s linear -2s;
    animation-iteration-count: infinite;
}
.fuzzyc3{
    animation: fuzzyc 10s linear -0.5s;
    animation-iteration-count: infinite;
}

@keyframes fuzzyc {
    0%{
        transform:rotate(0deg)
                 translate(1vw)
                 rotate(0deg);
        filter: blur(0);
    
    }
    50%{
        transform:rotate(360deg)
                 translate(1vw)
                 rotate(-360deg);
        filter: blur(0.1em);
    }
    100% {
        transform:rotate(720deg)
                    translate(1vw)
                    rotate(-720deg);
        filter: blur(0);
        
    }
}