*{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

body{
    background-color: #1b1010;
    margin: 0%;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}


a:hover{
    color: pink;
}
a:active{
    color: #1b1010;
}

object{
    width: 100%;
}

.fadeinout{
    opacity: 0;
    transition: opacity 1s;
}

.spaced{
    margin: 10% 0%;
}

h1{
    font-weight: bold;
    margin: 2vw;
    font-size: 4vw;
}
h2{
    font-weight: bold;
    margin: 2vw;
    margin-bottom: 0%;
    font-size: 3vw;
}

p{
    margin: 0% 2vw;
    font-size: 2vw;
}

h4{
    margin: 0% 2vw;
    font-size: 1.5vw;
}

.fuzzyc{
    animation: fuzzyc 10s linear;
    animation-iteration-count: infinite;
}
.fuzzyc2{
    animation: fuzzyc 10s linear -2s;
    animation-iteration-count: infinite;
}
.fuzzyc3{
    animation: fuzzyc 10s linear -0.8s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes fuzzyc {
    0%{
        transform:rotate(0deg)
                 translate(1vw)
                 rotate(0deg);
        filter: blur(0);
    
    }
    50%{
        transform:rotate(360deg)
                 translate(1vw)
                 rotate(-360deg);
        filter: blur(0.1em);
    }
    100% {
        transform:rotate(720deg)
                    translate(1vw)
                    rotate(-720deg);
        filter: blur(0);
        
    }
}

div.gallery {
    margin: 0.5rem;
    border: 1px solid #000000;
    float: left;
    width: 15vw;
}

div.gallery:hover {
    border: 1px solid #ff0000;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    font-size: 1vw;
    padding: 1.5em;
    text-align: center;
}

.spoiler {
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.spoiler img {
    vertical-align: bottom;
    filter: blur(20px) grayscale(100%) brightness(25%);
    transition: filter 0.3s;
}

.spoiler-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4.5vw;
	line-height: 4.5vw;
	width: 50%;
	padding: 0 1vw;
	font-size: 1vw;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	text-align: center;
	border-radius: 2vw;
	cursor: pointer;
}

.spoiler input {
	width: 0;
	height: 0;
}

.spoiler input:checked ~ img {
	filter: none;
}

.spoiler input:checked, .spoiler input:checked ~ label {
	display: none;
}

.gif{
    display: none;
}

.gif-static {
    display: block;
}

.spoiler:hover .gif{
    display: block;
}

.spoiler:hover .gif-static{
    display: none;
}